<a href="https://colab.research.google.com/github/KJM94/Single_project/blob/main/%EC%86%8C%EB%93%9D_%EC%98%88%EC%B8%A1_AI/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fixed Random Seed

In [ ]:
import numpy as np
import random
import os

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

## 데이터 불러오기 및 확인

In [ ]:
import pandas as pd

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [ ]:
train.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570

In [ ]:
test.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,TEST_0000,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,...,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,TEST_0001,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,TEST_0002,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,...,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,TEST_0003,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,TEST_0004,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown

In [ ]:
train.isnull().sum()

ID                        0
Age                       0
Gender                    0
Education_Status          0
Employment_Status         0
Working_Week (Yearly)     0
Industry_Status           0
Occupation_Status         0
Race                      0
Hispanic_Origin           0
Martial_Status            0
Household_Status          0
Household_Summary         0
Citizenship               0
Birth_Country             0
Birth_Country (Father)    0
Birth_Country (Mother)    0
Tax_Status                0
Gains                     0
Losses                    0
Dividends                 0
Income_Status             0
Income                    0
dtype: int64

- ID : 고객의 넘버
- Age : 고객의 나이, 연속형 변수
- Gender : 성별, 이산형 변수
- Education_Status : 최종학력을 의미한다. 이산형 변수
- Employment_Status : 취업 상태를 의미한다. 이산형 변수
- Working_Week (Yearly) : 주당 일하는 시간 연속형변수
- Industry_Status : 산업분야, 이산형 변수
- Occupation_Status : 직업 분야, 이산형 변수
- Race : 인종, 이산형변수
- Hispanic_Origin : 히스패닉 출신, 이산형 변수
- Martial_Status : 결혼 여부, 이산형 변수
- Household_Status : 가족 구성, 이산형 변수
- Household_Summary : 가족 구성 요약, 이산형 변수
- Citizenship : 시민권, 이산형 변수
- Birth_Country : 국적, 이산형변수
- Birth_Country (Father) : 아버지의 국적, 이산형변수
- Birth_Country (Mother) : 어머니의 국적, 이산형변수
- Tax_Status : 세금 여부, 이산형변수
- Gains : 이득또는 매출로 보인다, 연속형 변수
- Losses : 지출로 보인다, 연속형 변수
- Dividends : 배당금, 연속형 변수
- Income_Status : 소득 상태, 이산형변수
- income : 소득, 연속형 변수

## 데이터 전처리 1 : 학습 및 추론 데이터 설정

In [ ]:
train_x = train.drop(columns=['ID', 'Income', 'Gender', 'Race', 'Hispanic_Origin', 'Birth_Country', 'Birth_Country (Father)'
                             , 'Birth_Country (Mother)', 'Martial_Status', 'Household_Status'
                             , 'Household_Summary', 'Dividends'])
train_y = train['Income']

test_x = test.drop(columns=['ID', 'Gender', 'Race', 'Hispanic_Origin', 'Birth_Country', 'Birth_Country (Father)'
                            , 'Birth_Country (Mother)', 'Martial_Status', 'Household_Status'
                           , 'Household_Summary', 'Dividends'])

## 데이터 전처리 2 : 범주형 변수 수치화

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoding_target = list(train_x.dtypes[train_x.dtypes == "object"].index)

for i in encoding_target:
    le = LabelEncoder()

    # train과 test 데이터셋에서 해당 열의 모든 값을 문자열로 변환
    train_x[i] = train_x[i].astype(str)
    test_x[i] = test_x[i].astype(str)

    le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])

    # test 데이터의 새로운 카테고리에 대해 le.classes_ 배열에 추가
    for case in np.unique(test_x[i]):
        if case not in le.classes_:
            le.classes_ = np.append(le.classes_, case)

    test_x[i] = le.transform(test_x[i])

## 모델 선정 및 학습

In [ ]:
# from sklearn.tree import DecisionTreeRegressor

# model = DecisionTreeRegressor()
# model.fit(train_x, train_y)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_x, train_y)

LinearRegression()

In [ ]:
# from sklearn.ensemble import RandomForestRegressor

# model = RandomForestRegressor()
# model.fit(train_x, train_y)

In [ ]:
# from sklearn.neighbors import KNeighborsRegressor

# model = KNeighborsRegressor()
# model.fit(train_x, train_y)

## 예측 수행

In [ ]:
preds = model.predict(test_x)

## 제출양식에 예측결과 입력

In [ ]:
submission = pd.read_csv('./sample_submission.csv')
submission['Income'] = preds
submission

             ID      Income
0     TEST_0000  111.011042
1     TEST_0001   88.025319
2     TEST_0002  598.288241
3     TEST_0003  465.541533
4     TEST_0004   10.933790
...         ...         ...
9995  TEST_9995  634.011183
9996  TEST_9996  841.062126
9997  TEST_9997  152.040115
9998  TEST_9998   50.819157
9999  TEST_9999  634.328538

[10000 rows x 2 columns]

## 예측결과 저장

In [ ]:
submission.to_csv('./baseline_submission.csv', index=False)